*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #fff;
    color: #444;
    padding: 1rem;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    place-items:center;


}
li{
    list-style: none;
}
.user-img{
    width: 33px;;
    height: 33px; 
    border-radius:100% ;

}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-items: center;
    height: 100vh;
    place-content: center;
    max-width: 588px;
    width: 100%;
    margin: auto;
  
}
input{
    padding:1rem 2rem;
    border-radius: 40px;
    border: 1px solid #bbb;
    background: transparent;
    color:#444;
    width: 100%;
}
.password input{
    padding:1rem 2rem;
    border-radius: 40px;
    border: 1px solid #bbb;
    background: transparent;
    color:#444;
    width: 100%;

}
.password{
    width: 100%;
    position: relative;
}

.password i{
    position:absolute;
    color:#bbb;
    transform: translate(-33px ,15px);
}

button{
    padding:1rem 2rem;
    border-radius: 40px;
    border: 1px solid #bbb;
     width: 100%;
}
footer div{
    margin: 0 auto;
    text-align: center;
    width: 10%;
}